*.pyc
**/__pycache__
**/.ipynb_checkpoints
**/.DS_Store
*.Icon
*.egg-info/
dist
examples
tensorboard
experimental
TODO.txt
test.ipynb
benchmarking.ipynb
tests/nn_tests
.vscode/settings.json
notes
build
experimental