docutils>=0.19
ipykernel>=6.21.3
ipython>=8.11.0
Jinja2>=2.11.3
jq>=1.2
markupsafe>=2.1.2
matplotlib>=3.7.1
jax>=0.4.7
jaxlib>=0.4.7
nbsphinx>=0.9.1
pandoc>=2.3
pygments>=2.14.0
sphinx-book-theme>=1.0.0
sphinx-autodoc-typehints>=1.22
sphinx==7.2.6
# sphinxcontrib-bibtex>=2.5.0
sphinxcontrib-katex>=0.9.4
typing-extensions>=4.5.0
sphinx-copybutton>=0.5.1
graphviz>=0.20.1